corrige\ condicoes\ climaticas.py
Teste
corrige\ ph.py
first.py
Simulate\ Sensor\ Ora.py
Simulate\ Sensor.py
teste.py
.DS_Store
first.py
"Simulate Sensor.py"
Simulate Sensor.py
atualizaclima.py
FabioMarcosPedrosoFilho_RM560665.zip
CorrigeBanco.py
Dashboard.py
LigaBomba.png
LigaBomba.R